.button-filter {
    font-family: inherit;
    cursor: pointer;
    border-radius: 4px;
    border: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    background-color:var(--second-background-color);
    color: var(--primary-text-color);
    letter-spacing: 0.03em;
    padding: 6px 22px;
    display: inline-block;
    transition: box-shadow var(--duration) var(--timing-function),
    color var(--duration) var(--timing-function),
    background-color var(--duration) var(--timing-function);
    &:hover, &:focus {
        background-color: var(--accent-color);
        color: var(--primary-white-color);
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}


.hero__button {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    border-radius: 4px;
    background-color:var(--accent-color);
    color: var(--primary-white-color);
    cursor: pointer;
    letter-spacing: 0.06em;
    border: 0;
    padding: 10px 32px;
    transition: color var(--duration) var(--timing-function),
    background-color var(--duration) var(--timing-function);
    &:hover, &:focus {
        background-color: var(--second-logo-color);
    }
}
